.item-header     { x: 0; y: 0; width: 100%; height: 25 }
.item            { x: 0; y: 0; width: 100%; height: 30%; }
.item-footer     { x: 0; y: 0; width: 100%; height: 20; }

.tile-list-item {
  height: 88;
}

.tile-divider-bottom {
  x: 0;
  y: 100%-20;
  width: 90%;
  height: 5;
  fill: #A0A0A0;
}

.container {
  width: 90%;
  height: 90%;
  fill: #A0A0A0;
}

#tile-list {
  height: 90%;
  width: 90%;
}